<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h1>Articles</h1>
<table>
  <thead>
  <tr>
    <th>Article</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @user.articles.each do |post| %>
    <tr>
      <td><%=post.title %></td>
      <td><%= link_to "Post",post%></td>
    </tr>
  <%end%>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
